html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: inherit;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.pageContainer{
  width: 100%;
  height: 100%;
}

.navcontainer-fluid{
  background: #37766F;
  border-bottom: 5px solid #092E2A;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 8vh;
  min-height: 70px;
  z-index: 1;
  
  overflow: hidden;
  position: fixed; 
  top:0; 
}

.placeholder{
  width: 20%;
  /* border: 8px dashed blue; */
}

.logoContainer{
  /* border: 2px dashed orange; */
  width: 20%;
  margin-top: 5px;
}

.logoimage{
  height: 7vh;
  min-height: 58px;
  padding-bottom: .5vh;
  padding-left: 5%;
  cursor: pointer;
  /* border: 3px solid purple; */
}

.navContainer{
  /* border: 5px solid green; */
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  font-family: "Roboto";
  color: #1b1b1b;
  font-size: 1.4rem;
}

.navlink{
  cursor: pointer;
  text-transform: uppercase;
  padding-top: .5rem;
}

.navContainer .navlink:hover{
  color: whitesmoke;
}

.navlink.active {
  border-bottom: 1px solid white;
  color: whitesmoke;
}

.navlink:active{
  /* border-bottom: 1px solid white; */
  color: whitesmoke;
}

.landing{
  background-image: url("../images/landing.jpg");
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.landing-text{
  /* border:2px solid white; */
  font-size: calc(1.5rem + .2vmin);
  color: #fff;
  font-family: "Roboto Slab";
  width: 100%;
  text-align: center;
  line-height: 1.2;
}


.aboutContainer{
  /* border:2px solid red; */
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; 
}


.aboutContent{
  /* border: 2px dashed purple; */
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5vh;
}



.aboutLeftHeader{
  width: 100%;
  display: flex;
  justify-content: center;
}

.aboutLeft{
  /* border: 2px solid green; */
  width: 40%;
  height: 80vh;
  font-size: 1.1vw;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-end;
}

.profilePic{
  /* border:2px dashed green; */
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

.profilePicContainer{
  /* border:2px solid red; */
  height: 25%;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.aboutText{
  /* border:2px solid dodgerblue; */
  width: 90%;
  height: 85%;
  margin:0 auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1vh;
}
.textCard{
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px; */
  width: 97.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 1vw ;
}

.text{
  width: 95%;
  font-size: 1vw;
}

.aboutRightHeader{
  width: 100%;
  display: flex;
  justify-content: center;
}


.aboutRight{  
  /* border: 2px solid blue; */
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}


.iconContainer{
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vh;
}

.firstRow{
  /* border: 3px solid pink; */
  margin-top: 5%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.secondRow{
  /* border: 3px solid pink; */
  margin-top: 3%;
  margin-bottom: 1%;
  
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.thirdRow{
  /* border: 3px solid pink; */
  margin-top: 3%;
  margin-bottom: 1%;
  
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.fourthRow{
  /* border: 3px solid pink; */
  margin-top: 3%;
  margin-bottom: 1%;
  
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.fifthRow{
  /* border: 3px solid pink; */
  margin-top: 3%;
  margin-bottom: 1%;
  
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

i{
  max-width: 16rem;
  /* box-shadow: 2px 2px 10px #d8dfeb; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
  padding:15px;
  border-radius: 5px;
  font-size: 3.5vw;
  /* border: 1px solid green; */
}

.aboutLink{
  /* border: 2px solid orange; */
  margin:0 auto;
  margin-top: 3vh;
  color: #37766F;
  text-decoration: none;
  cursor: pointer;
}

.aboutLink:hover{
  color:#1eb5d4;
}

/* Mobile Styling About Section */

@media screen and (max-width: 600px) {
  .navContainer{
    font-size: .9rem;
    z-index: 1;
  }
  .placeholder{
    display: none;
  }
  .aboutContainer{
    height:fit-content;
    padding-top: 8vh;
  }
  .aboutContent {
    /* background-color: skyblue; */
    flex-direction: column;
    justify-content: start;
    width:100%;
  }
  .profilePic{
    width: 200px;
    height: 280px;
  }

  .aboutLeft{
    width:100%;
    height: fit-content;
  }
  .aboutText{
    height: fit-content;
  }
  .aboutRight{
    width:100%;
    height: fit-content;
    padding: 5vh 0px;
  }
  .text{
    font-size: .9rem;
  }
  .iconContainer{
    margin-top: 2vh;
  }
  i{
    font-size: 3rem;
  }
  .aboutLink{
    padding-bottom: 3vh;
  }
}
/* Projects Section */

.projectcontainer-fluid{
  /* border: 2px solid blue; */
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d0dbff;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.projectHeader{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  margin-bottom: 4vh;
}

.projectsCardsContainer{
  /* border: 2px dashed steelblue; */
  width: 95%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.project{
  /* border: 2px solid orange; */
  padding:5px;
  width:35%;
  text-align: start;
  height: 100%;
  
}

.cardBootons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 2px solid indigo; */
}

.projectArrows{
  /* border:2px solid green; */
  display: flex;
  justify-content: center;
  margin-top: 6vh;
  margin-bottom: 2vh;
}

 /* Projects Mobile Section */
@media screen and (max-width: 600px) {
  .projectcontainer-fluid{
    /* border: 2px dashed red; */
    height: fit-content;
  }
  .projectHeader{
    margin-top: 13vh;
  }

  .projectsCardsContainer{
    /* border: 2px dashed steelblue; */
    flex-direction: column;
    align-items: center;
  }

  .project{
    width: 95%;
    margin: 3vh 0px;
  }

  .projectArrows{
    margin-bottom: 4vh;
  }

}

/* Contact Section */

.Contact{
  /* border: 2px solid red; */
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactHeader{
  display: flex;
  justify-content: center;
  margin-top: 11vh;
  color: #BEBBBB;
}

.contactHeader:hover{
  color: whitesmoke;
}

.theQuestionDiv{
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 7vh;
  color: #BEBBBB;
}

.theQuestionDiv:hover{
  color: whitesmoke;
}

.contactForm{
  /* border: 2px solid steelblue; */

  display: flex;
  justify-content: center;
}

.arrowButtons{
  /* border:2px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 4vh;

  height: 32px;
  font-size: 35px;
}

.footerContainer{
  background-color:#0c101c;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerLinks{
  display: flex;
  justify-content: space-around;
  color: whitesmoke;
  width: 20%;
  padding-top: 4vh;
  
  /* border: 2px solid white; */
}

.copyright{
  margin-top: 4vh;
  color: #BEBBBB;
  font-family: "Roboto";
  font-size: .9rem;
}

.footerButtonContainer{
  /* border:2px solid white; */
  margin:0 auto;
  width: 35vw;
  display: flex;
  justify-content: flex-end;
}

/* Contact Mobile Section */

@media screen and (max-width: 600px){
  .Contact{
    /* border: 2px solid rebeccapurple; */
    height: fit-content;
  }

  .contactHeader{
    margin-top: 14vh;
  }

  .theQuestionDiv{
    font-size: .8rem;
  }

  .contactForm{
    /* border: 1px solid white; */
    margin: 4vh 0;
  }

  .footerLinks{
    width: 80%;
    margin-top: 4vh;
  }
}


/* Modal/ Dialog related Styels*/


.numba1 li::before {
  content: "\2022";  
  color: white; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em;
}

.numba2 li::before {
  content: "\2022";  
  color: #4ca69c; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em;
}

ul{
  width: 80%;
  border:"2px solid green";
} 


.numba1 li:hover{
  color:white ;
}

.modalLeft{
  /* border:2px solid red; */
  display: flex;
  flex-direction: column;
  width: 47.5%;
  background-color: #37766F;
  padding-left: 15px;
  padding-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
}

.modalRight{
  /* border:2px solid blue; */
  display: flex;
  flex-direction: column;
  width: 47.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: 1px solid #37766F;
  background-color: whitesmoke ;
}

.numba1 li{
  list-style: none;
  font-size: calc(0.5em + .5vmin);
  margin-left: 1vw;
  color: whitesmoke ;
  font-family: 'Roboto';
  line-height: 1.2;
}

.numba2 li{
  list-style: none;
  font-size: calc(0.5em + .5vmin);
  margin-left: 1vw;
  color: #37766F;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1.2;
}

.modalImage{
  /* border:2px solid red; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  margin:0 auto;
  width: 80%;
}

.modalStack{
  color:#37766F;
  font-size: .9rem;
  margin-top: 1.7vh;
}

/* MOdal mobile section */

@media screen and (max-width: 600px) {
  .modalLeft{
    width: 100%;
    margin: 1vh 0px;
    padding-bottom: 9px;
  }
  .modalRight{
    width: 100%;
    padding-bottom: 5px;
  }
  .numba1{
    font-size: 1.2rem;
    width: 90%;
  }
  .numba2{
    font-size: 1.2rem;
    width: 90%;
  }
  .modalImage{
    width: 90%;
    margin-top: 1vh;
  }
  .modalStack{
    font-size: 2vh;
  }
}

@media screen and (max-width: 380px) {
  .modalImage{
    width: 100%;
  }
  .modalStack{
    font-size: 1rem;
  }
 
}



/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-text-fill-color: #b0bec5;
  -webkit-box-shadow: 0 0 0px 1000px #052738 inset;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
